*   {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;  
}

body   {
    width: 100vw;
    height: 100vh;
}

#container   {
    width: 100%;
    height: 100%; 
    display: flex; /*código para colocar em coluna, ambaixo um do outro*/
    flex-direction: column; /* 1- código para colocar em coluna, ambaixo um do outro*/
    justify-content: center; /* 2- código para centralizar no centro do lado esquerdo da pagina*/
    align-items: center; /* 3- código para centralizar no meio da pagina*/
    background: rgb(249,112,59);
    background: linear-gradient(90deg, rgba(249,112,59,1) 0%, rgba(248,83,19,1) 100%);
}

#titulo   {
    margin-bottom: 40px;
    font-size: 25px;
    color: #fff;
}

#container_secundario   {
    width: 450px;
    padding: 30px 50px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 3px  -3px 7px 0px rgba(0,0,0,0.75); 
}

#container_input   {
    width: 100%;
    display: flex;
    margin-bottom: 50px;
    position: relative; /*código para colocar uma linha no container-input*/
}

#container_input::before   {
    content: "";
    position: absolute;
    width: 100%;
    border-top: 2px solid #6666;
    margin-top: 70px;
    height: 10px;
    border-radius: 30px;
}

#container_inputtxt   {
    outline: none; /*código para quando colocar o cursos em cima txt, tirar o foco*/
    border: 1px solid black;
    width: 80%; /*código para afastar o botão buscar da caixa txt*/
    height: 40px;
    padding: 5px;
    border-radius: 10px;
}

#container_btn   {
    width: 20%;
    outline: none;
    border: 1px solid black;
    background-color: #f85313;
    border-radius: 10px;
    margin-left: 5px;
    color: #fff;
    height: 40px;
    cursor: pointer;
    transition: all 0.2s ease-in; /*código para quando passar o mause em cima do botao buscar muda de cor*/
}

#container_btn:hover   { /*código para quando passar o mause am cima do botao bustar muda de cor*/
   background-color: #f16340cc; 
} 

#container_palavra   {
    color: #f85313;
    font-size: 22px;
    margin-bottom: 10px;
    text-transform: capitalize; /*código para quando digitar com litras minúscula na caixa, em baixo aparece com letras maiúsculas*/ 
}

#container_significado   {
    color: black;
    font-style: italic;
    margin-bottom: 10px;
} 

span   {
    font-size: 20px;
    color: #f85313;
}

